.table-container {
    width: 100%;
    overflow: auto;
    max-height: 400px; 
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f0f0f0;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  th {
    text-align: left;
    padding: 10px;
  }
  
  tbody {
    max-height: 300px; 
    overflow-y: auto;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table_container{
    overflow: auto;
    height: 400px;
  }

   
  .table_container thead th{
    position: sticky;
    top: 0;
  }


